@{
    ViewData["Title"] = "Yeni şifrə";
}
@model UpdatePasswordModel

<section class="forget-password-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block text-center">
                    <a class="logo" href="index.html">
                        <img src="images/logo.png" alt="">
                    </a>
                    <h2 class="text-center">New password</h2>
                    <form method="post" action="@Url.Action("NewPassword","Account")" class="text-left clearfix">
                        <p>Please enter the new password.</p>
                        <div class="form-group">
                            <input  name="NewPassword" type="password" class="form-control" id="new_password" placeholder="New password">
                            @Html.ValidationMessageFor(c=>c.NewPassword)
                        </div>
                        <div class="form-group">
                            <input name="ConfirmNewPassword" type="password" class="form-control" id="confirm_new_password" placeholder="Confirm new password">
                            @Html.ValidationMessageFor(c => c.ConfirmNewPassword)
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-main text-center">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



