@model SpecificationAddVm
<form method="post" action="@Url.Action("Add","Specification")">
    <div class="form-row mb-4">
        <div class="form-group col-md-6">
            <label for="cagegories">Kateqoriya</label>
            <select id="categories" name="Specification.CategoryId" class="form-control">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryId">
                        @category.Name
                    </option>
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="name">Ad</label>
            <input name="Specification.Name" type="text" class="form-control" id="name" placeholder="Ad">
        </div>
        <div class="form-group col-md-6">
            <label for="isSelected">Seçiləbiləndirmi?</label>
            <input name="Specification.IsSelected" type="checkbox" class="form-control" id="isSelected" >
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Yadda Saxla</button>
</form>

@section CSS {
    @*  <link href="~/admin/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/forms/switches.css">
    <link href="~/admin/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <style>
        .field-validation-error {
            color: red;
            font-weight: bold;
        }
    </style> *@
}

@section SCRIPTS {
    @* <script src="~/admin/plugins/apex/apexcharts.min.js"></script> *@
}