@model List<SliderDto>
<div class="hero-slider">
    @foreach (var slider in Model)
    {
        <div class="slider-item th-fullpage hero-area" style="background-image: url(@slider.BackgroundImageUrl);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-center">
                        <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">@slider.Title</p>
                        <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">@slider.Text</h1>
                        <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="@slider.Link">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>