
@model ProductListQueryModel

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Shop</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">shop</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="products section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="widget">
					<h4 class="widget-title">Short By</h4>
					<form method="post" action="#">
						<select class="form-control">
							<option>Man</option>
							<option>Women</option>
							<option>Accessories</option>
							<option>Shoes</option>
						</select>
					</form>
				</div>
				@await Component.InvokeAsync("ProductListCategory")
			</div>
			
			@await Component.InvokeAsync("ProductList", Model)

		</div>
	</div>
</section>



@section Scripts {
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			let page = 1;

			const loadMoreBtn = document.querySelector(".load-more");

			loadMoreBtn.addEventListener("click", function (e) {
				e.preventDefault();

				let xhr = new XMLHttpRequest();

				page = page + 1; //page++

				xhr.open("GET", "https://localhost:7024/product/filter?page=" + page, true);

				xhr.send();

				xhr.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						let result = JSON.parse(this.responseText);

						console.log(result);

						if (result.status == 200) {

						}
						else {

						}
					}
				}

			})
		});
	</script>
}
